.main-page{
    font-family: "Raleway", sans-serif;
    background-image: url(https://images.unsplash.com/photo-1559942144-92147a3adb0f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: scroll;
    margin: 0px;
}
.link{
    color: #353436;
    text-decoration: none;
    
}
.main-page__link_size{
    padding-right: 30px;
    font-size: 16px;
    padding-right: 25px;
}
.main-page__header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 110px;
}
.main-page__search{
    padding-right: 25px;
}
.main-page__h1, .main-page__logo, .main-page__title-text, .main-page__button, .main-page__text{
    padding-left: 90px;
}
.h1{
    font-family: 'La Belle Aurore', cursive;
    font-size: 110px;
    color: #F0EDF5;
}
.main-page_h1-margin{
    margin: 0px;
    height: 175px;
}
.main-page__logo{
    margin-bottom: 0px;
}
.logo{
    width: 75px;
    height: 75px;
}
.main-page__title-text{
    color: #353436;
    font-size: 18px;
    padding-bottom: 65px;
}
.main-page__button{
    padding-bottom: 23px;
}
.main-page__text{
    color: #353436;
    padding-bottom: 110px;
}
.link, .main-page__text, .main-page__title-text{
    text-transform: uppercase;
    letter-spacing: 2px;
}

